<div ui-view>
    <h2 class="page-header">Mis solicitudes</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-inbox"></i>
                        <span>Nuevas</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content">
                        <div class="col-sm-11">
                            <div class="dataTables_filter">
                                <input type="text" class="form-control show-grid" placeholder="Buscar" ng-model="data.filterTable" name="filterTable">
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Cobertura</th>
                            <th>Fecha</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in data.solicitudesNuevasPaginated">
                            <td>
                                {{item.cliente.descripcion}} {{item.cliente.apellido}}
                            </td>
                            <td>{{item.cobertura.descripcion}} - {{item.cobertura.aseguradora.descripcion}}</td>
                            <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.observaciones}}</td>
                            <td class="grid-button" style="text-align:center">
                                <a href="" ng-click="verClick(item)"><i class="fa fa-search tip edit"></i></a>
                                <a href="" ng-click="venderClick(item)" data-toggle="modal" data-target="#modalVender"><i class="fa fa-pencil tip edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <sigep-pagination for="data.solicitudesNuevas"
                                      as="data.solicitudesNuevasPaginated"
                                      page="1"
                                      per-page="20"
                                      filter="data.filterTable">
                    </sigep-pagination>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-history"></i>
                        <span>Historial</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content">
                        <div class="col-sm-11">
                            <div class="dataTables_filter">
                                <input type="text" class="form-control show-grid" placeholder="Buscar" ng-model="data.filterTable" name="filterTable">
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Cobertura</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in data.solicitudesHistorialPaginated" ng-class="solicitudClass(item.estado.id)">
                            <td>
                                {{item.cliente.descripcion}} {{item.cliente.apellido}}
                            </td>
                            <td>{{item.cobertura.descripcion}} - {{item.cobertura.aseguradora.descripcion}}</td>
                            <td>{{item.fecha  | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.estado.descripcion}}</td>
                            <td>{{item.observaciones}}</td>
                            <td class="grid-button" style="text-align:center">
                                <a href="" ng-click="verClick(item)"><i class="fa fa-search tip edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <sigep-pagination for="data.solicitudesHistorial"
                                      as="data.solicitudesHistorialPaginated"
                                      page="1"
                                      per-page="20"
                                      filter="data.filterTable">
                    </sigep-pagination>

                </div>
            </div>
        </div>
    </div>


    <div aria-labelledby="modalVender" role="dialog" tabindex="-1" id="modalVender" class="modal fade bs-example-modal-lg" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:30%">
            <div class="modal-content" style="text-align:center">
                <div class="modal-header">
                    <button aria-label="Cerrar" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 id="vender" class="modal-title">Actualizar solicitud</h4>
                </div>
                <div class="modal-body">

                    <div class="row-fluid">
                        <button data-dismiss="modal" ng-click="ingresarPoliza()" class="btn btn-default " style="margin-bottom:10px" type="button">Ingresar número de póliza</button>
                    </div>
                    <div class="row-fluid">
                        <button data-dismiss="modal" ng-click="createPoliza()" class="btn btn-default  " style="margin-bottom:10px" type="button">Registrar nueva póliza</button>
                    </div>
                    <div class="row-fluid">
                        <button data-dismiss="modal" ng-click="descartar()" class="btn btn-default " type="button">Descartar solicitud</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>