<div ui-view>
    <h2 class="page-header">Solicitud
        <small ng-if="data.viewStateFlag">Ver</small>
    </h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i>
                        <span>Datos del cliente</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Nombre </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.nombre" maxlength="50" name="nombre" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Apellido </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.apellido" maxlength="50" name="nombre" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tipo de documento</label>

                                <div class="col-sm-5">
                                    <select class="form-control" ng-model="data.solicitud.cliente.tipoDocumento.id" ng-options="item.id as item.nombre for item in data.listaTiposDocumento" ng-disabled="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Documento </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.documento" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Teléfono </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.telefono" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Domicilio </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.domicilio" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Mail </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cliente.mail" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-file-text-o"></i>
                        <span>Datos de la solicitud</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Cobertura </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cobertura.nombre" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Aseguradora </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.cobertura.aseguradora.nombre" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Fecha </label>

                                <div class="col-sm-5">
                                    <input type="date" class="form-control" ng-model="data.solicitud.fecha" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Observaciones </label>

                                <div class="col-sm-5">
                                    <textarea rows="3" style="overflow: auto; resize: none" ng-model="data.solicitud.observaciones" class="form-control" ng-disabled="data.viewStateFlag"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="data.solicitud.poliza" class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-file-text-o"></i>
                        <span>Datos de la póliza</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-horizontal">
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Fecha </label>

                                <div class="col-sm-5">
                                    <input type="date" class="form-control" ng-model="data.solicitud.poliza.fecha" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Número </label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" ng-model="data.solicitud.poliza.numero" placeholder="abc" ng-disabled="data.viewStateFlag">
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Descripción </label>

                                <div class="col-sm-5">
                                    <textarea rows="3" style="overflow: auto; resize: none" ng-model="data.solicitud.poliza.descripcion" class="form-control" ng-disabled="data.viewStateFlag"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group pull-right" ng-show="data.viewStateFlag">
        <div class="col-sm-12">
            <a class="btn btn-default" ng-click="volver()">
                <span><i class="fa fa-arrow-circle-left txt-primary"></i></span>
                Volver
            </a>
        </div>
    </div>
</div>
