<div ui-view>
    <h2 class="page-header">Nueva importación <small>Archivo</small></h2>
    <form name="form.comisionCreateForm">

        <ng-include src="'appModules/Comision/views/datosLote.html'"></ng-include>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-file"></i>
                        <span>Selección del archivo a importar</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="archivo">
                        <div class='row-fluid'>

                            <label class="control-label col-sm-3" style="margin-left:-7px">Archivo (*)</label>

                            <div class='fileinput fileinput-new' data-provides='fileinput'>
                                <div class='fileinput-preview thumbnail btn-inline' data-trigger='fileinput' style='width: 200px; height: 160px;  margin-left:15px'></div>
                                <div>
                                    <span class='btn btn-default btn-file' style="margin-left:15px">
                                        <span class='fileinput-new'><span class='glyphicon glyphicon-folder-open'>&nbsp;</span>Examinar...</span>
                                        <span class='fileinput-exists'>Cambiar</span>
                                        <input id='file' filereader type='file' accept=".csv" name='...'>
                                    </span>

                                    <a href='#' class='btn btn-default fileinput-exists' data-dismiss='fileinput'>Borrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group pull-right">
            <div class="col-sm-12">
                <a class="btn btn-default" ng-click="cancelar()">
                    <span><i class="fa fa-times-circle txt-danger"></i></span>
                    Cancelar
                </a>
                <button ng-disabled="form.comisionCreateForm.$invalid" class="btn btn-primary" ng-click="guardar()">
                    <span><i class="fa fa-check-square"></i></span>
                    Aceptar
                </button>
            </div>
        </div>
    </form>
</div>
