<div ui-view>
    <h2 class="page-header">Vendedores</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i>
                        <span>Consultar</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="expand-link">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content">
                        <div class="col-sm-11">
                            <div class="dataTables_filter">
                                <input type="text" class="form-control show-grid" placeholder="Buscar" ng-model="data.filterTable" name="filterTable">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary" ng-click="create()">
                                <span><i class="fa fa-plus-square"></i></span>
                                Nuevo
                            </button>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Domicilio</th>
                            <th>Mail</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  ng-repeat="item in data.vendedoresPaginated">
                                <td>{{item.id}}</td>
                                <td>{{item.documento}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.apellido}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.domicilio}}</td>
                                <td>{{item.mail}}</td>
                                <td class="grid-button" style="text-align: center">
                                    <a href="" ng-click="verClick(item)"><i class="fa fa-search tip edit"></i></a>
                                    <a href="" ng-click="editarClick(item)"><i class="fa fa-pencil tip edit"></i></a>
                                    <a href="" ng-click="delete(item)"><i class="fa fa-trash tip edit"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <sigep-pagination for="data.listaVendedores" 
                                      as="data.vendedoresPaginated"  
                                      page="1"
                                      per-page="10"
                                      filter="data.filterTable">
                    </sigep-pagination>

                </div>
            </div>
        </div>
    </div>
</div>