.component-dragging-start {
	cursor: url("../css/drag-icon.png"), auto;
}

#shadowDragIcon {
	display: none;
	pointer-events:none;
	position: absolute;
	z-index: 999;
}

#shadowDragIcon .glyphicon {
	font-size: 55px;
	opacity: 0.6;
}