<div class="container-fluid" ui-view>
    <form name="form.changePassForm" with-errors novalidate>
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="box">
                    <div class="box-content">
                        <div class="text-center">
                            <h3 class="page-header">Cambiar contraseña</h3>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.changePassForm.previous.$invalid && form.changePassForm.previous.$dirty}">
                            <label class="control-label">Contraseña anterior</label>
                            <input type="password" class="form-control" name="previous" ng-model="data.previousPass" required=""/>
                            <div ng-show="form.changePassForm.previous.$invalid && form.changePassForm.previous.$dirty">
                                <span class="help-block" ng-show="form.changePassForm.previous.$error.required">Ingrese contraseña anterior</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.changePassForm.new.$invalid && form.changePassForm.new.$dirty}">
                            <label class="control-label">Nueva contraseña</label>
                            <input type="password" class="form-control" name="new" ng-model="data.newPass" required=""/>

                            <div ng-show="form.changePassForm.new.$invalid && form.changePassForm.new.$dirty">
                                <span class="help-block" ng-show="form.changePassForm.new.$error.required">Ingrese nueva contraseña</span>
                            </div>
                        </div>

                        <div class="form-group"  ng-class="{ 'has-error': data.newPass != data.confirmPass && form.changePassForm.confirm.$dirty}">
                            <label class="control-label">Confirmar contraseña</label>
                            <input type="password" class="form-control" name="confirm" ng-model="data.confirmPass" required=""/>

                            <div ng-show="data.newPass != data.confirmPass && form.changePassForm.confirm.$dirty">
                                <span class="help-block" ng-show="data.newPass != data.confirmPass">No coincide con la contraseña</span>
                            </div>
                        </div>

                        <button ng-hide="data.user.tipoUsuario.id == data.ID_USUARIO_PRODUCTOR" ng-disabled="form.changePassForm.$invalid || data.newPass != data.confirmPass"
                                class="btn btn-primary" ng-click="changePassword()">
                            <span><i class="fa fa-check-square"></i></span>
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

