
<!--<div class="container-fluid" ui-view>-->
    <!--<form name="LoginForm" with-errors novalidate>-->
        <!--<div class="main-content">-->
            <!--<div class="container">-->

                <div class="col-md-8">
                    <div class="cp-news-grid-style-5 m20">
                        <div class="section-title orange-border">
                            <h2>Eventos</h2>
                            <small>Próximos Eventos</small>
                        </div>

                        <div class="cp-news-grid-style-4">
                            <ul class="row">
                                <li  ng-repeat="item in eventoByFilters.aceptadas" class="col-md-6">
                                    <div class="cp-post">
                                        <div class="cp-thumb"><img alt="" ng-src="{{item.lugar.foto}}"></div>
                                        <div class="cp-post-content">
                                            <h3><a ng-click="verEvento(item)">{{item.artista.descripcion}} en
                                                {{item.lugar.descripcion}} </a></h3>
                                            <ul class="cp-post-tools">
                                                <li><i class="icon-26"></i> {{item.lugar.ubicacion}}</li>
                                                <li><i class="icon-2"></i> {{item.fechaEvento | date:"MM/dd/yyyy"}}</li>
                                                <li><i class="icon-1"></i> {{item.fechaEvento | date: "HH:mm:ss a"}}</li>
                                                <li><i class="icon-5"></i> Tipo Show: {{item.artista.tipoShow.descripcion}}</li>
                                                <li><i class="icon-9"></i> {{item.asunto}} Me gusta</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <div ng-if="!eventoByFilters.aceptadas.length > 0">
                                    Actualmente no existen eventos con esas características
                                </div>
                            </ul>
                        </div>


                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sidebar side-bar right-sidebar">

                        <!-- Widget Start -->

                        <!-- Widget End -->

                        <!--Text Widget Start -->
                        <div class="widget sidebar-textwidget">
                            <h3 class="side-title">Filtros de Busqueda</h3>

                            <div class="cp-sidebar-content">
                                <div class="form-group  col-md-12">
                                    <label class="control-label ">Ubicacion</label>
                                    <input ng-change="queryBusqueda()" ng-model-options='{ debounce: 1000 }' class="form-control" ng-model="eventoFilter.lugar.ubicacion" googleplace/>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-3" for="descripcion">Nombre Artista</label>
                                    <input ng-change="queryBusqueda()" ng-model-options='{ debounce: 1000 }' type="text" class="form-control col-md-3" id="descripcion" ng-model="eventoFilter.artista.descripcion"
                                           maxlength="50" name="descripcion"
                                           required="" placeholder="Nombre del Artista">
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-3" for="descripcion">Nombre Lugar</label>
                                    <input ng-change="queryBusqueda()" ng-model-options='{ debounce: 1000 }' type="text" class="form-control col-md-3" id="nombreL" ng-model="eventoFilter.lugar.descripcion"
                                           maxlength="50" name="descripcion"
                                           required="" placeholder="Nombre del Lugar">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="tipoShow2">Tipo Show </label>
                                    <select ng-change="queryBusqueda()" class="form-control" name="tipoShow2" id="tipoShow2" ng-model="eventoFilter.artista.tipoShow.descripcion"
                                            ng-options="item.descripcion as item.descripcion for item in listaTipoShow" required="">
                                        <option value="">-- Seleccione --</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label col-md-3" for="genero">Género</label>
                                    <input ng-model-options='{ debounce: 1000 }' type="text" class="form-control col-md-3" id="genero"
                                           maxlength="50" name="descripcion"
                                           placeholder="Género">
                                </div>

                            </div>
                        </div>

                        <div class="widget popular-post">
                            <h3 class="side-title">Eventos populares</h3>

                            <div class="cp-sidebar-content">
                                <ul class="small-grid">
                                    <li ng-repeat="item in eventosMg.aceptadas" class="col-md-6 col-sm-6">
                                        <div class="cp-post">
                                            <div class="cp-thumb"><img alt="" ng-src="{{item.lugar.foto}}"></div>
                                            <div class="cp-post-content">
                                                <!--<div class="cp-post-rating"><a href="#"><i class="icon-9"></i> <i-->
                                                <!--class="icon-9"></i> <i class="icon-9"></i> <i class="icon-9"></i> <i-->
                                                <!--class="icon-10"></i></a></div>-->
                                                <h3><a ng-click="verEvento(item)">{{item.artista.descripcion}} en
                                                    {{item.lugar.descripcion}} </a></h3>
                                                <ul class="cp-post-tools">
                                                    <li><i class="icon-26"></i> {{item.lugar.ubicacion}}</li>
                                                    <li><i class="icon-2"></i> {{item.fechaEvento | date:"MM/dd/yyyy"}}</li>
                                                    <li><i class="icon-1"></i> {{item.fechaEvento | date: "HH:mm:ss a"}}</li>
                                                    <li><i class="icon-5"></i> Tipo Show: {{item.artista.tipoShow.descripcion}}</li>
                                                    <li><i class="icon-9"></i> {{item.asunto}} Me gusta</li>
                                                    <!--<li><i class="glyphicon glyphicon-map-marker"></i> JetLag</li>-->
                                                    <!--<li><i class="glyphicon glyphicon-plus"></i> MAS INFO</li>-->

                                                </ul>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>

                        <!--Popular Post Widget Start -->

                        <!--Popular Post Widget Start -->
                        <div class="widget latest-posts">
                            <h3 class="side-title">Próximos Eventos</h3>

                            <div class="cp-sidebar-content">
                                <ul class="small-grid">
                                    <li ng-repeat="item in eventosProximos.aceptadas" class="col-md-6 col-sm-6">
                                        <div class="cp-post">
                                            <div class="cp-thumb"><img alt="" ng-src="{{item.lugar.foto}}"></div>
                                            <div class="cp-post-content">
                                                <!--<div class="cp-post-rating"><a href="#"><i class="icon-9"></i> <i-->
                                                <!--class="icon-9"></i> <i class="icon-9"></i> <i class="icon-9"></i> <i-->
                                                <!--class="icon-10"></i></a></div>-->
                                                <h3><a ng-click="verEvento(item)">{{item.artista.descripcion}} en
                                                    {{item.lugar.descripcion}} </a></h3>
                                                <ul class="cp-post-tools">
                                                    <li><i class="icon-26"></i> {{item.lugar.ubicacion}}</li>
                                                    <li><i class="icon-2"></i> {{item.fechaEvento | date:"MM/dd/yyyy"}}</li>
                                                    <li><i class="icon-1"></i> {{item.fechaEvento | date: "HH:mm:ss a"}}</li>
                                                    <li><i class="icon-5"></i> Tipo Show: {{item.artista.tipoShow.descripcion}}</li>
                                                    <li><i class="icon-9"></i>{{item.asunto}} Me gusta</li>
                                                    <!--<li><i class="glyphicon glyphicon-map-marker"></i> JetLag</li>-->
                                                    <!--<li><i class="glyphicon glyphicon-plus"></i> MAS INFO</li>-->

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->