<div>
	<div class="input-group">
		<input type="text" class="form-control sigepDatePicker" datepicker-popup="{{dpCtrl.data.format}}" current-text="dpCtrl.data.displayText" clear-text="dpCtrl.data.clearText" is-open="dpCtrl.data.isOpen" ng-model="dpCtrl.data.model" close-text="dpCtrl.data.closeText" />
		<span class="input-group-addon">
			<button type="button" ng-class="dpCtrl.data.cssClass" ng-click="dpCtrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		</span>
	</div>
</div>